#window {
  font-family: Hack Nerd Font;
  font-size: 12px;
  background: #303030;
  border-radius: 6px;
}

#text {
  padding: 5px;
  color: #ffffff;
}

#text:selected { color: black; }

#entry {}

#entry:selected { background-color: #ea6962; }

#inner-box {}

#outer-box {
  margin: 5px;
  padding: 5px;
	margin-top: -20px;
}

#scroll {}
