window {
  font-family: Hack Nerd Font;
  font-weight: bold;
  margin: 0px;
  border: 8px solid #303030; 
  background-color: #303030; 
  border-radius: 8px;
}

#text {
  margin: 5px;
  border: none;
  color: #aaaaaa; 
}

#input {
  margin: 5px;
  border: none;
  color: #aaaaaa;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #303030;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #303030;
}

#scroll {
  border: none;
  margin: -2px -2px;
}

#entry:selected {
  background-color: #505050;
  border-radius: 8px;
}

