/* Colors */

@define-color bg     #151515;
@define-color bg-alt #303030;
@define-color white  #ffffff;
@define-color grey   #555555;
@define-color black  #000000;
@define-color red    #eb4d4b;
@define-color yellow #5294e2;
@define-color orange #e78a4e;

/* Waybar style */

* {
  font-family: Hack Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @bg;
  color: @white;
  transition-property: background-color;
  transition-duration: .5s;
}
window#waybar.hidden { opacity: 0.2; }

#workspaces.vertical {
  border-radius: 6px;
  background-color: @bg-alt;
  margin: 4px;
  padding: 2px;
}
#workspaces button {
  background-color: transparent;
  color: @yellow;
  padding: 0 2px;
  min-width: 0;
}
#workspaces button.focused { 
  background-color: @yellow; 
  color: @black;
  font-weight: bold; 
}
#workspaces button.urgent { background-color: @red; }
#workspaces button.persistent { color: @white; }

#custom-launcher {
  margin: 4px;
  padding: 2px 4px 2px 1px;
}

#tray { margin: 4px; }
#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; }

#network { 
  border-radius: 6px 6px 0px 0px ;
  background-color: @bg-alt;
  margin: 4px 4px 0px 4px;
  padding: 2px 4px 2px 1px;
}
#network.linked { background-color: @orange; }
#network.disconnected { background-color: @red; }

#pulseaudio {
  background-color: @bg-alt;
  color: @white;
  margin: 0px 4px 0px 4px;
  padding: 2px 4px 6px 1px;
}
#pulseaudio.muted { background-color: @red; }

#clock {
  border-radius: 6px;
  background-color: @grey;
  font-weight: bold;
  font-size: 14px;
  margin: -4px 4px 2px 4px;
  padding: 2px;
}

#custom-power {
  border-radius: 6px;
  background-color: @red;
  color: @white;
  margin: 4px;
  padding: 2px 4px 2px 1px;
}

/* Tooltip popups */
tooltip { background-color: @bg-alt; }
tooltip label { color: @white; }

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0; }




#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#temperature { background-color: #f0932b; }
#temperature.critical { background-color: #eb4d4b; }

#idle_inhibitor { background-color: #2d3436; }
#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#scratchpad { background: rgba(0, 0, 0, 0.2); }
#scratchpad.empty { background-color: transparent; }
